// Specific CSS for your home-page

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.image {
  height: 60%;
  width: auto;
  border-radius: 15px 50px ;
}

.input-group {
  padding-top: 1rem ;
}


.vl {
  border-left: 1px solid black;
}


.hover:hover{
  opacity: 0.7;
}
